<a href="https://colab.research.google.com/github/Manishanayak1997/cms/blob/main/Untitled0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print(type(8))
print(type(8.0))
print(type("manisha"))

x, y = 10, 5
print(x, y)

x, y = y, x
print(x, y)

<class 'int'>
<class 'float'>
<class 'str'>
10 5
5 10

In [6]:
print(type(8))
print(type(8.0))

x, y = 10, 5
print(x, y)

x, y = y, x
print(x, y)
b,a=30, 5
mod = b % a
print(mod)
d,a=80,8
# // returns integer division result
intDiv = d / a
# / returns float division result
div = d / a
print(div, intDiv)

<class 'int'>
<class 'float'>
10 5
5 10
0
10.0 10.0

In [8]:
num = 68
print(num * 3)
print(num)

num *= 3
print(num)

#Naming Convension
#snake_case
snake_case = 20

#for constants
CAPITAL_SNAKE_CASE, PI = 100, 3.14159603
#for class
class UpperCamelCase:
    pass

#dunders ('d'ouble 'unders'cores) means something u shouldn't touch

204
68
204

In [14]:
#bool
is_active = True
inactive = not is_active
print(is_active)
print(not is_active)
print(inactive)
print(not inactive)

#str
some_string = "I am Manisha Nayak"
print(some_string)

#list
my_number = [13,18,49,20]
print(my_number)
print(my_number[2])

#dict
my_name = {'first_name': "Manisha", 'last_name': "Nayak"}
print(my_name)
print(my_name['first_name'])
print(my_name['last_name'])

True
False
False
True
I am Manisha Nayak
[13, 18, 49, 20]
49
{'first_name': 'Manisha', 'last_name': 'Nayak'}
Manisha
Nayak

In [15]:
game_over = True
print(game_over)

game_over = "Yes, it's over!"
print(game_over)

game_over = 22/7
print(game_over)

#None is nothing
game_over = None
print(game_over)
print(type(game_over))

True
Yes, it's over!
3.142857142857143
None
<class 'NoneType'>